language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
before_script:
  - rustup component add rustfmt-preview
script:
  - cargo fmt --all -- --check
  - cargo build --verbose
  - cargo test --verbose
cache: cargo
